.comment-list,
.comment {
    list-style: none;
}

/* .comment-list .comment {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
} */

.comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 10px;
    /* font-size: 14px; */
    height: auto;
}

.comment-text {
    /* height: auto; */
    font-size: 14px;
}

.comment-text span {
    font-size: 14px;
    font-weight: 600;
}

.comment-container {
    padding: 0 10px;
    max-width: 414px;
    margin-top: 5px;
}

.comment-container input,
.hide input {
    width: 80vw;
    max-width: 250px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 12px;
    padding: 0 0 0 5px;
}

.send,
.delete-comment,
.edit-comment,
.edit-btn {
    color: #2800f5;
    border-radius: 50px;
    padding: 0 10px;
    font-size: 10px;
    font-weight: bold;
    height: 100%;
}

.comment form {
    display: flex;
    align-items: center;
}

.comment-input {
    font-size: 14px;
}

.comment-form {
    margin: 0;
    padding: 0;
}

/* .edit-form {
    display: none;
    background-color: pink;
}

.edit-input {
    display: none;
    color: black;
    width: 80vw;
    max-width: 250px;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
} */

.hide {
    display: none;
}

.visible {
    display: block;
}

.flex-column {
    flex-direction: column;
    align-items: flex-start;
}

.flex-row {
    display: flex;
    flex-direction: row;
}
