.edit-post .edit-profil-input {
    display: flex;
    justify-content: center;
}
.edit-post .edit-profil-input input {
    display: none;
}

.form-group .change-image {
    width: 40vw;
    padding: 5px;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.01);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    margin: 10px 0;
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.8);
}

.edit-post .edit-profil {
    color: black;
    font-weight: 400;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.8);
}
.edit-post .edit-profil-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-post .edit-profil-input label {
    margin: 0 3px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
}

.edit-post form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.edit-post .edit-profil-input .avatar {
    width: 40vw;
    padding: 5px;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.01);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    margin: 10px 0;
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.8);
}
