.footer {
    width: 100vw;
    height: 100px;
    bottom: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    position: fixed;
    z-index: 3;
    transition: top 0.5s ease;
}

.footer-list {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0 40px;
}

.icon {
    width: 50px;
}

.navbar-nav .icon {
    width: 55px;
}
