/* In this file you can add your custom styles. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    overflow-y: scroll;
    color: black;
    font-size: 21px;
}

body {
    background-color: #fdfdfd;
}

h1 {
    margin: 30px 10px;
}

article {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 200px 0 150px 0;
    bottom: 200px;
}

article .all {
    align-items: left;
}

.post {
    height: auto;
    display: flex;
    flex-direction: column;
}

.post-header {
    margin: 10px;
    display: flex;
    align-items: center;
}

.image {
    position: absolute;
    width: 100%;
    height: 1000px;
    object-fit: cover;
}

.username {
    font-weight: bold;
    cursor: pointer;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin: 0 5px 0 0;
}

.image-container {
    height: 1000px;
    width: 100vw;
    position: relative;
    display: flex;
}

.caption-container {
    margin: 20px 40px;
    height: auto;
}

.caption {
    padding: 0 5px 0 0;
}

.date {
    margin: 0 0 40px 20px;
    color: rgba(0, 0, 0, 0.5);
}

button {
    background-color: transparent;
    border: none;
}

.edit {
    z-index: 2;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.user-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
}

.user {
    margin: 20px 0 0 0;
}

.user .full-name {
    font-weight: bold;
    margin: 10px 0 0 10px;
}

.user .biography {
    margin: 10px 0 0 10px;
}

.settings {
    width: 30px;
}

.heart {
    width: 50px;
    margin: 30px 0 10px 20px;
}

.like {
    margin: 0 20px;
}

/* header */

.navbar-nav {
    width: 30vw;
    display: flex;
    justify-content: space-between;
}

.navbar-nav li {
    list-style: none;
}

.navbar-nav a {
    text-decoration: none;
}

.make-a-post {
    background-color: red;
}

@media screen and (max-width: 800px) {
    .camera {
        visibility: hidden;
    }
}

.login {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 3;
    top: 0;
    background-color: #fdfdfd;
}

.login .logo {
    margin: 0 0 50px 0;
    border: none;
}

.login .avatar {
    width: 200px;
    height: 200px;
}

.login button {
    width: 90vw;
    background-color: #2800f5;
    border-radius: 5px;
    margin: 10px 0 20px 0;
    padding: 15px;
}

button {
    cursor: pointer;
}

.login button a {
    color: white;
    text-decoration: none;
}

.login button:hover {
    background-color: #3a00e9;
}

.login .username {
    margin: 20px;
}

.login .other-accont a {
    color: #2800f5;
    text-decoration: none;
}

.login .other-accont:hover {
    transform: scale(1.01);
    color: #3a00e9;
}

.login .account {
    position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
}

.bold {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
}

.bold:hover {
    color: black;
}

.back {
    height: 42px;
    position: fixed;
    top: 25px;
    left: 20px;
}

/* login */

.form-control {
    width: 90vw;
    margin: 5px 0 5px 0;
    padding: 30px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

input {
    color: rgba(0, 0, 0, 0.5);
}

button {
    color: white;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-text-fill-color: rgba(0, 0, 0, 0.5);
    transition: background-color 5000s ease-in-out 0s;
}

@media screen and (min-width: 1000px) {
    .login {
        width: 50%;
    }

    .form-control {
        width: 50vw;
    }

    .login button {
        width: 50vw;
    }
}
