/* In this file you can add your custom styles. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    color: black;
    font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1200 - 300)));
}

body {
    background-color: #fafafa;
}

h1 {
    margin: 20px 0;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: ;
}

article .all {
    align-items: left;
}

.post {
    height: auto;
    display: flex;
    flex-direction: column;
}

.post-header {
    margin: 10px;
    display: flex;
    align-items: center;
}

button {
    background-color: transparent;
    border: none;
}

.edit {
    z-index: 2;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.user-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
}

.user {
    margin: 20px 0 0 0;
}

.user .full-name {
    font-weight: bold;
    margin: 10px 0 0 10px;
}

.user .biography {
    margin: 10px 0 0 10px;
}

.settings {
    width: 30px;
}

.like {
    margin: 0 20px;
}

/* header */

.navbar-nav {
    width: 30vw;
    display: flex;
    justify-content: space-between;
}

.navbar-nav li {
    list-style: none;
}

.navbar-nav a {
    text-decoration: none;
}

.make-a-post {
    background-color: red;
}

@media screen and (max-width: 800px) {
    .camera {
        visibility: hidden;
    }
}

button {
    cursor: pointer;
}

a {
    cursor: pointer;
}

.bold {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
}

.back {
    height: 20px;
    top: 20px;
    left: 20px;
    position: absolute;
}

/* login */

.form-group .edit-profil {
    background-color: #2800f5;
    border-radius: 5px;
    margin: 10px 0 20px 0;
    padding: 30px;
    color: white;
}

.edit-profil-container .edit-profil {
    background-color: #2800f5;
    border-radius: 5px;
    margin: 30px 0 20px 0;
    padding: 30px;
    color: white;
}

.edit-profil-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 414px;
}

.edit-profil-input .form-control {
    width: 100%;
    max-width: 414px;
}

.all-posts-container {
    width: 100vw;
    max-width: 414px;
    background-color: white;
    margin: 10px 0;
    padding: 10px 0;
    border-radius: 5px;
    /* border: 1px solid rgba(0, 0, 0, 0.05); */
}

.image-container {
    width: 100vw;
    max-width: 414px;
}

@media screen and (min-width: 1000px) {
    .login {
        width: 50vw;
    }

    .form-control {
        width: 50vw;
    }

    .login button {
        width: 50vw;
    }
}
