.edit-profil {
    width: 90vw;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.picture-view-nav {
    width: 90vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 20px 0;
}

.profile-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    width: 90vw;
    margin: 20px 0;
    list-style: none;
}

.profile-user {
    grid-column: 2;
    justify-self: center;
    align-self: center;
    font-size: 30px;
    font-weight: 600;
}

.exit {
    grid-column: 3;
    justify-self: end;
    align-self: center;
}

.avatar.bigger {
    width: 160px;
    height: 160px;
    margin: 20px 20px 20px 0;
}

.profile-information {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-align: center;
}

.profile-information span {
    font-size: 20px;
    font-weight: lighter;
}

.profile-information .bold {
    font-size: 30px;
    font-weight: 600;
}

.profile-about {
    width: 90vw;
    list-style: none;
    margin: 20px 0;
    font-size: 20px;
}

.profile-about .full-name {
    font-weight: 600;
    margin: 0 0 5px 0;
}

@media screen and (min-width: 1000px) {
    .edit-profil {
        width: 50vw;
    }

    .picture-view-nav {
        width: 100vw;
    }

    .profile-header {
        width: 50vw;
    }

    .profile-information {
        width: 50vw;
    }

    .profile-about {
        width: 50vw;
    }
}
