nav .navbar-nav {
    padding: 10px 20px 0 20px;
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    position: fixed;
    z-index: 3;
    transition: top 0.5s ease;
    top: 0;
}

.logo {
    width: 50%;
}

.icon {
    width: 25px;
}

.footer {
    width: 100vw;
    height: 50px;
    bottom: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    position: fixed;
}

.footer-list {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0 20px;
}

@media screen and (min-width: 1000px) {
    nav .navbar-nav {
        padding: 10px 40px 0 40px;
    }

    .footer-list {
        margin: 0 40px;
    }

    .icon {
        width: 30px;
    }

    .back {
        height: 25px;
        top: 30px;
        left: 40px;
    }
}
