.all-posts {
    margin: 80px 0 50px 0;
}

.all-posts.one {
    margin: 0px 0 50px 0;
}

.all-posts.one .profile-user {
    margin-bottom: 40px;
}

.avatar-user {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 7px;
}

.avatar-user .avatar {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.username {
    font-size: 14px;
    font-weight: 600;
}

.image {
    object-fit: cover;
    width: 100vw;
    height: 414px;
    width: 414px;
}

.like-container {
    display: flex;
    align-items: center;
    height: 30px;
    margin-top: 5px;
}

.heart {
    width: 24px;
    margin-left: 10px;
}

.like-container p {
    margin-left: 10px;
    font-size: 13px;
}

.caption-container {
    margin: 0 20px 5px 10px;
    height: auto;
    font-size: 14px;
}

.caption-container span {
    font-size: 14px;
    font-weight: 600;
}

.date {
    font-size: 10px;
    margin: 0 0 5px 10px;
    color: rgba(0, 0, 0, 0.5);
}

.feed-is-empty-container {
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feed-is-empty {
    max-width: 90vw;
    font-weight: 500;
    color: black;
    padding: 10px;
    text-align: center;
    border: 5px solid #fafafa;
    border-radius: 20px;
}

@media screen and (max-width: 414px) {
    .image {
        width: 100vw;
    }
}
