.post {
    top: 120px;
    position: absolute;
}

.post ul {
    height: 120px;
    width: 50vw;
    display: flex;
    align-items: center;
    list-style: none;
}

.post .avatar {
    width: 70px;
    height: 70px;
    margin: 0 20px;
}
.posts-header {
    height: 120px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.08);
    background-color: white;
    position: fixed;
    z-index: 2;
    top: 0;
}

.post-username {
    font-weight: 700;
}

.caption-container .post-caption {
    font-weight: 400;
    margin-left: 5px;
}
.posts-header p {
    font-weight: 600;
}

.posts-header .username {
    font-weight: 400;
}

.back-button {
    position: absolute;
    left: 20px;
}

.back-button img {
    width: 40px;
}

.image {
    object-fit: cover;
    width: 100vw;
}

.edit {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 15px;
}

.avatar-user {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.avatar-user .avatar {
    margin-right: 20px;
}
