.search-form {
    display: flex;
    align-items: center;
    height: 100vh;
}

.small-image:hover {
    filter: contrast(100%);
}

.search {
    display: flex;
    justify-content: center;
    margin: 0px 0 10px 0;
    max-width: 414px;
}

.search-input {
    width: 90vw;
}

.imageBox .hoverImg {
    position: absolute;
    left: 350px;
    top: 100px;
    display: none;
}

.imageBox:hover .hoverImg {
    display: block;
}

.search-user p {
    color: black;
}

@media screen and (min-width: 1000px) {
}
